
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PackingRaport.Domain.Models.Raport>
@using Microsoft.AspNetCore.Mvc.Rendering
@using PackingRaport.Domain.Models


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Raport</h1>

@*<p>Data: @DateTime.Now.ToString("yyyy-MM-dd")</p>

<p>
    <a asp-action="Create">Dodaj nowy produkcję</a>
</p>*@

@*<div class="row">
    <div class="col-2">
        <p>Data: @DateTime.Now.ToString("yyyy-MM-dd")</p>
    </div>
    <div class="col-2">
        <a asp-action="Create" class="btn btn-light">Dodaj nowy produkcję</a> 
    </div>
</div>*@
<p class="d-inline-block">Data: @DateTime.Now.ToString("yyyy-MM-dd")</p>
<div class="d-flex justify-content-between">
    <form method="get">
        <p>
            Find by: <input type="date" name="searchDate" />
        
            <select name="searchType">
                <option value="">--Wybierz produkt--</option>
                @foreach (var item in Enum.GetValues(typeof(TypeProduct)))
                {
                    <option value="@item">@item</option>
                }
            </select>
        
            <input type="submit" value="Filter" />
        </p>
    </form>
    <p class="d-inline-block p-2">
        <a asp-action="Create" class="btn btn-secondary">Dodaj nową produkcję</a>
    </p>
</div>

@*<form method="get">
    <p>
        Find by: <input type="date" name="searchDate" />
        
        <select name="searchType">
            <option value="">--Wybierz produkt--</option>
            @foreach (var item in Enum.GetValues(typeof(TypeProduct)))
            {
                <option value="@item">@item</option>
            }
        </select>
        
        <input type="submit" value="Filter" />
    </p>
</form>*@

<table class="table  table-bordered">
    <thead class="thead-light">
        <tr>
            @*<th>Id</th>*@
            <th scope="col">Imie</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Produkt</th>
            <th scope="col">Start Produkcji</th>
            <th scope="col">Koniec Produkcji</th>
            <th scope="col">Zbiornik</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var raport in Model)
        {
            <tr>
                @*<td>@raport.Id</td>*@
                <td>@raport.User.Name</td>
                <td>@raport.User.Surname</td>
                <td>@raport.Product.ProductName</td>
                <td>@raport.StartProductionTime.ToString("dd.MM.yyyy")</td>
                <td>@raport.EndProductionTime</td>
                <td>@raport.Containers.Type</td>

                <td class="d-flex justify-content-center ">

                    <input type="button" value="Szczegóły" class="btn btn-outline-secondary btn-sm align-text-bottom" onclick="location.href='@Url.Action("Details", "Raport",new { Id = raport.Id } )'" />


                    @* <input class="mx-2" type="submit" value="Popraw" asp-action="Edit" asp-controller="Raport" />
                <input class="mx-2" type="submit" value="Szczegóły" asp-action="Details"  asp-route-id="@raport.Id" asp-controller="Raport" />
                    <input class="mx-2" type="submit" value="Usuń" asp-action="Delete" asp-controller="Raport" />*@
                    @*<a asp-action="Edit" asp-route-id="@raport.Id">Popraw</a> |
                    <a asp-action="Details" asp-route-id="@raport.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@raport.Id">Usuń</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>




