@model IEnumerable<PackingRaport.Domain.Models.Raport>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Raport</h1>
<p>Data: @DateTime.Now.ToString("yyyy-MM-dd")</p>

<p>
    <a asp-action="Create">Dodaj nowy produkcję</a>
</p>

<table class="table  table-bordered">
    <thead class="thead-light">
        <tr>
            @*<th>Id</th>*@
            <th scope ="col">Imie</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Produkt</th>
            <th scope="col">Start Produkcji</th>
            <th scope="col">Koniec Produkcji</th>
            <th scope="col">Zbiornika</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var raport in Model)
        {
            <tr>
                @*<td>@raport.Id</td>*@
                <td>@raport.User.Name</td>
                <td>@raport.User.Surname</td>
                <td>@raport.Product.ProductName</td>
                <td>@raport.StartProductionTime</td>
                <td>@raport.EndProductionTime</td>
                <td>@raport.Containers.Type</td>
            
                <td>
                    <a asp-action="Edit" asp-route-id="@raport.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@raport.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@raport.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>




